body {
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
    text-justify: distribute;
}

p {
    text-align: justify;
    font-size: 18px;
}

iframe {
    margin-bottom: 50px;
    width: 560px;
    height: 315px;
}

#headerImg {
    margin-top: 20px;
    height: 130px;
}

#graphsImg {
    width: 560px;
}

#projects {
    font-size: 30px;
    margin-bottom: 0px;
}

#header {
    text-align: center;
}

#name {
    margin: 0px;
}

#profession {
    margin: 0px;
}